@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: light;
  src: url("fonts/Vinson-Light.ttf");
}

@font-face {
  font-family: regular;
  src: url("fonts/VInson-Regular.ttf");
}

@font-face {
  font-family: bold;
  src: url("fonts/Vinson-Bold.ttf");
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	background-image: linear-gradient(rgba(0,113,188,1), rgba(5,56,79,1));
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
	
	-webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

	#wrapper{
		width: 100%;
		height: 100%;
	}

	#globe{
		width: 100%;
		height: 40%;
		background-image: url('img/globe_bottom.png');
	  	background-repeat: no-repeat;
	  	background-attachment: fixed;
	  	background-position: bottom;
		background-size: contain;
		position:absolute;	
		bottom:0;
	}

	#bubble{
	}

		#bubble_background{
			width:100%;
			height:100%;
			position:fixed;
			z-index: 9;
			background-color: rgba(255,255,255,0.7);
		}
		#bubble_dot{
			position:fixed;
			z-index: 10;
			top:1.5%;
			left:3.5%;
			width:10%;
			height:5%;
			background-color: rgba(0,0,0,0.5);
			border-radius: 50%;
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			font-size: 1em;
			font-family: regular;
			color: rgb(250,250,250);
			line-height: 2.5em;
		}
			.noalert{
				background-color: rgba(0,0,0,0.5);
			}
			.alert{
				background-color: rgba(163,10,10,0.5);
			}
		#bubble_content{
			position:fixed;
			display:block;
			z-index:9;
			top:4%;
			left:8%;
			width:85%;
			text-align:center;
			font-size: 1em;
			font-family: regular;
			color: rgb(250,250,250);
		}
			#bubble_content #bubble_content_alert{
				background-color: rgba(163,10,10,0.5);
				padding:7%;
			}
			#bubble_content #bubble_content_individual{
				background-color: rgba(0,0,0,0.5);
				padding:7%;
			}


/* BUTTONS */

	.button{
		display:block;
		width:60%;
		height:10%;
		margin-left:20%;
		background-image: url("img/button.png");
		background-repeat: no-repeat;
		background-size:contain;
		margin-bottom:2%;
		text-align:center;
		padding-top:5%;
	}
		.button p{
			color:rgb(163,237,244);
			font-size: 1.9em;
			font-family: regular;
		}

/* LANDING PAGE */

#landing{
	width: 100%;
	height: 100%;
}

	#landing .logo{
		width: 80%;
		margin-left: 10%;
		margin-top: 10%;
		margin-bottom: 10%;
	}

/* SYNC PAGE */

#sync{
	width: 100%;
	height: 100%;
}

	#sync .sync_intro{
		display:block;
		width:80%;
		margin-top:5%;
		margin-left: 12%;
		font-size: 1.3em;
		line-height: 1.4em;
		font-family: regular;
		color:rgb(163,237,244);
		text-align: center;
	}
	#sync .sync_code{
		display:block;
		width:80%;
		margin-top:1%;
		margin-left: 12%;
		font-size: 4em;
		font-family: BOLD;
		color:rgb(163,237,244);
		text-align: center;
	}
	#sync #sync_or{
		width:80%;
		margin-left:10%;
	}
	
	#sync input {
	  	background-color: rgb(163,237,244);
	  	border: none;
		border-radius: 0px;
		width: 72%;
		margin-left: 10%;
		margin-top: 3%;
		text-align: center;
		font-size: 1.8em;
		font-family: regular;
		color: rgb(0,113,188);
	}

	#sync #sync_players{
		display: block;
		width: 80%;
		/*height: 10%;*/
		margin-left: 10%;
		margin-top: 3%;
		/*background-color: rgba(163,237,244,0.25);*/
	}
		
		#sync .sync_dot{
			width: 40px;
			height: 40px;
		    background-color: rgba(200,200,200,0.7);
		    border-radius: 50%;
		    display: inline-block;
			margin-left:2%;
			margin-top:2%;
			text-align: center;
			vertical-align: middle;
			font-size: 1em;
			font-family: regular;
			color: rgb(50,50,50);
			line-height: 2.5em;
		}

			#sync .inactive{
				display:none;
			}
			#sync .first_inactive{
				display:inline-block;
				background-color: rgba(200,200,200,0.3);
			}
			#sync .active{
				display:inline-block;
				background-color: rgba(200,200,200,1);
			}
	
/* ABOUT PAGE */

#about{
	width: 100%;
	height: 100%;
}
	#about .logo{
		width: 80%;
		margin-left: 10%;
		margin-top: 10%;
		margin-bottom: 10%;
	}

	#about p{
		display:block;
		width:80%;
		margin-left: 10%;
		font-size: 1em;
		font-family: regular;
		line-height: 1.1em;
		color:rgb(163,237,244);
	}
	#about a{
		font-family: bold;
		text-decoration: underline;
		color:rgb(163,237,244);
	}
	#about .button{
		margin-top: 10%;
	}
		#about .button p{
			font-size: 1.9em;
		}

/* TUTORIAL PAGE */

#tutorial{
	width: 100%;
	height: 100%;
}

#tutorial1, #tutorial2, #tutorial3, #tutorial4, #tutorial5, #tutorial6, #tutorial7{
	width: 100%;
	height: 100%;
}

	#tutorial .tutorial_intro{
		display:block;
		width:80%;
		margin-top:7%;
		margin-left: 12%;
		font-size: 1.3em;
		line-height: 1.4em;
		font-family: regular;
		color:rgb(163,237,244);
		text-align: center;
	}

	#tutorial .tutorial_text{
		display:block;
		width:80%;
		margin-top:7%;
		margin-left: 10%;
		margin-bottom:3%;
		font-size: 0.95em;
		line-height: 1.2em;
		font-family: regular;
		color:rgb(163,237,244);
		text-align: center;
	}

		#tutorial3 .tutorial_text{
			margin-top:2%;
		}

		#tutorial img{
			margin-top:4%;
			margin-left:3%;
			width:40%;
		}
		
		#tutorial4 .tutorial_text{
			margin-top:2%;
		}

		#tutorial5 .tutorial_text{
			margin-top:2%;
		}

		#tutorial6 .tutorial_text{
			margin-top:2%;
		}

			#tutorial6 img{
				width:80%;
			}
		#tutorial7 .tutorial_intro{
			margin-top:15%;
		}

/* TRADITION PAGE */

#tradition{
	width: 100%;
	height: 100%;
	background-image: url('img/traditions/cincin.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	background-size: cover;
	position:fixed;
	padding:0px;
	overflow: scroll;
}

	#tradition .tradition_text{
		width: 100%;
		height: 20%;
		background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0));
		background-repeat: no-repeat;
		background-position: left top;
		margin-top:0px;
	}
		#tradition .tradition_text .tradition_title{
			padding-top:12%;
			font-size: 2.8em;
			font-family: BOLD;
			color:rgb(255,255,255);
			text-align: center;
		}
		#tradition .tradition_text .tradition_origin{
			padding-top:1%;
			font-size: 1.4em;
			font-family: regular;
			color:rgb(255,255,255);
			text-align: center;
		}

	.tradition_buttons{
		width: 100%;
		height: 25%;
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.7));
		background-repeat: no-repeat;
		background-position: left top;
		position:fixed;	
		bottom:0;
	}
		.tradition_buttons .button{
			display:block;
			width: 60%;
			height: 25%;
		}
		#tradition_extended .button{
			margin-top:20%;
		}

	#tradition #tradition_extended #tradition_video{
		width:90%;
		height:200px;
		margin-top:5%;
		margin-left:5%;
		background-color: grey;
		display: block;
	}
	#tradition #tradition_extended #tradition_info{
		margin-top:5%;
		padding:5%;
		margin-left:5%;
		width:80%;
		background-image: linear-gradient(rgba(0,113,188,1), rgba(5,56,79,1));
		background-size: auto auto;
    	background-repeat: no-repeat;
    	background-position: left top; 
		font-size: 1em;
		line-height: 1.1em;
		font-family: regular;
		color:rgb(255,255,255);
		text-align: left;
		margin-bottom:30%;
	}

	#tradition #tradition_sound{
		position:fixed;
		top:2%;
		right:4%;
		width:8%;
		height:4%;
	}
		#tradition #tradition_sound img{
			width:100%
		}

#tradition_idle{
	height:100%;
	padding-top:20%;
}
	.tradition_idle_intro{
		display:block;
		width:80%;
		margin-left: 12%;
		font-size: 1.25em;
		line-height: 1.4em;
		font-family: regular;
		color:rgb(163,237,244);
		text-align: center;
	}

		#tradition #tradition_idle .button{
			display:block;
			width:70%;
			height:6%;
			margin-left:15%;
			background-image: url("img/button.png");
			background-repeat: no-repeat;
			background-size:contain;
			margin-bottom:0%;
			text-align:center;
			padding-top:8%;
			font-size: 0.7em;
		}
		#tradition #tradition_idle #tradition_similar{
			padding-bottom:10%;
		}


/* SEARCH PAGE */

#search{
	width: 100%;
	height: 100%;
}

	#search .search_intro{
		display:block;
		width:80%;
		margin-top:35%;
		margin-left: 10%;
		font-size: 1.3em;
		line-height: 1.4em;
		font-family: regular;
		color:rgb(163,237,244);
		text-align: center;
	}

	#search input {
	  	background-color: rgb(163,237,244);
	  	border: none;
		border-radius: 0px;
		width: 65%;
		margin-left: 13%;
		margin-top: 3%;
		text-align: center;
		font-size: 1.5em;
		font-family: light;
		color: rgb(0,113,188);
	}

/* RESULTS PAGE */

#results{
	width: 100%;
	height: 100%;
}

	#results .results_intro{
		display:block;
		width:80%;
		margin-top:8%;
		margin-left: 10%;
		font-size: 1.3em;
		line-height: 1.4em;
		font-family: regular;
		color:rgb(163,237,244);
		text-align: center;
	}

	#results .result{
		width:80%;
		height:25%;
		margin-top:8%;
		margin-left: 10%;
		background-color:red;
		text-align: center;
	}
		#results .result p{
			padding-top:25%;
			font-size: 1.8em;
			font-family: regular;
			color:rgb(255,255,255);
		}

	#results #result1{
		background-image: url('img/traditions/cincin.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	#results #result2{
		background-image: url('img/traditions/cincin.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	#results #result3{
		background-image: url('img/traditions/cincin.png');
		background-repeat: no-repeat;
		background-size: cover;
	}